<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Destinasi</title>
    <link rel="stylesheet" href="../styles/detail.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <div class="logo">
          <img src="../image/Logo.png" alt="Jalanin" />
        </div>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="informasi.html">Information</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
    </header>

    <main class="main-content">
      <div class="card">
        <h2 id="destination-name">Wakatobi</h2>
        <img id="destination-image" />
        <p id="destination-location">Location: Sulawesi Tenggara</p>
        <p id="destination-description"></p>
        <!-- <div id="destination-map"></div>
        <a id="open-maps-button" href="#" target="_blank">Open Maps</a> -->
        <section class="info">
          <!-- <div class="opening-hours">
            <h3>Jam Buka</h3>
            <p>Minggu 06.30-17.00</p>
            <p>Senin 08.30-17.00</p>
            <p>Selasa 06.30-17.00</p>
            <p>Rabu 06.30-17.00</p>
            <p>Kamis 06.30-17.00</p>
            <p>Jumat 06.30-17.00</p>
            <p>Sabtu 06.30-17.00</p>
          </div> -->
          <div class="website">
            <h3>Situs Website</h3>
            <p>
              <a id="website-link" href="#" target="_blank"
                >Informasi lebih lanjut</a
              >
            </p>
          </div>
          <!-- <div class="phone">
            <h3>Nomor Telepon</h3>
            <p>0274496401</p>
          </div> -->
          <div class="location">
            <h3>Location</h3>
            <!-- <p>
              Jl. Raya Solo - Yogyakarta No.16, Kranggan, Bokoharjo, Kec.
              Prambanan, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55571
            </p> -->
            <div id="destination-map"></div>
            <a id="open-maps-button" href="#" target="_blank">Open Maps</a>
          </div>
        </section>
      </div>

      <footer>
        <div class="footer-content">
          <div class="footer-left">
            <h2>Jalan In</h2>
            <p>
              Jalanin adalah website yang menampilkan informasi destinasi wisata
              pilihan terbaik di Indonesia
            </p>
          </div>
          <div class="footer-links">
            <h2>Laman</h2>
            <ul>
              <li><a href="home.html">Home</a></li>
              <li><a href="informasi.html">Information</a></li>
              <li><a href="about.html">About</a></li>
            </ul>
          </div>
          <div class="footer-social">
            <h2>Social Media</h2>
            <ul>
              <li>
                <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                  ><img src="../image/linkedin.png" alt="LinkedIn"
                /></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                  ><img src="../image/linkedin.png" alt="LinkedIn"
                /></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                  ><img src="../image/linkedin.png" alt="LinkedIn"
                /></a>
              </li>
            </ul>
            <form class="subscribe-form">
              <input type="email" placeholder="Enter email address" />
              <button type="submit">Send</button>
            </form>
          </div>
        </div>
        <div class="footer-bottom">
          <p>© 2024 Jalan In All Rights reserved</p>
        </div>
      </footer>
    </main>
    <script src="../scripts/detail.js"></script>
  </body>
</html>
