<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jalan In</title>
    <link rel="stylesheet" href="../styles/home.css" />
  </head>
  <body>
    <header class="hero">
      <nav>
        <div class="logo">
          <img src="../image/Logo.png" alt="Jalanin" />
        </div>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="informasi.html">Information</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
      <div class="hero-content">
        <h1>
          Jelajahi Keindahan dan Keragaman Indonesia dari Sabang Sampai Merauke!
        </h1>
        <button
          class="explore-btn"
          onclick="window.location.href='informasi.html'"
        >
          Mari Kita Jelajahi
        </button>
      </div>
    </header>

    <main>
      <section class="popular-destinations">
        <h2>Rekomendasi Destinasi Populer</h2>
        <p>Lihat keindahan Indonesia dengan mudah dan aman bersama Jalan In.</p>
        <div class="destinations-slider">
          <div class="destination-card">
            <img src="../image/PantaiOra.png" alt="Maluku" />
           <h3>Pantai Ora</h3>
            <p>Lokasi: Maluku</p>
            <p class="description">Keindahan bawah laut yang mempesona</p>
            <button
              class="lihat-btn"
              onclick="window.location.href='https://www.tripadvisor.co.id/HotelHighlight-g1600180-d8139848-Reviews-Ora_Beach_Resort-Seram_Island_Maluku_Islands.html'"
            >
              Lihat
            </button>
          </div>
          <div class="destination-card">
            <img src="../image/Ratenggaro.jpeg" alt="Nusa Tenggara Timur" />
            <h3>Desa Adat Ratenggaro</h3>
            <p>Lokasi: Nusa Tenggara Timur</p>
            <p class="description">Kebudayaan yang kaya dan unik</p>
            <button
              class="lihat-btn"
              onclick="window.location.href='https://atourin.com/destination/sumba/kampung-adat-ratenggaro'"
            >
              Lihat
            </button>
          </div>
          <div class="destination-card">
            <img src="../image/GoaPindul.jpg" alt="Yogyakarta" />
            <h3>Gua Pindul</h3>
            <p>Lokasi: Yogyakarta</p>
            <p class="description">Petualangan seru di gua yang menakjubkan</p>
            <button
              class="lihat-btn"
              onclick="window.location.href='https://www.yogyes.com/id/yogyakarta-tourism-object/nature-and-outdoor/cave-tubing-pindul/'"
            >
              Lihat
            </button>
          </div>
          <div class="destination-card">
            <img src="../image/Wisata1.jpg" alt="Papua" />
            <h3>Raja Ampat</h3>
            <p>Lokasi: Papua</p>
            <p class="description">
              Surga tersembunyi dengan keindahan alam yang luar biasa
            </p>
            <button
              class="lihat-btn"
              onclick="window.location.href='https://www.stayrajaampat.com/'"
            >
              Lihat
            </button>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-content">
        <div class="footer-left">
          <h2>Jalan In</h2>
          <p>
            Jalanin adalah website yang menampilkan informasi destinasi wisata
            pilihan terbaik di Indonesia
          </p>
        </div>
        <div class="footer-links">
          <h2>Laman</h2>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="informasi.html">Information</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <h2>Social Media</h2>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                ><img src="../image/linkedin.png" alt="LinkedIn"
              /></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                ><img src="../image/linkedin.png" alt="LinkedIn"
              /></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                ><img src="../image/linkedin.png" alt="LinkedIn"
              /></a>
            </li>
          </ul>
          <form class="subscribe-form">
            <input type="email" placeholder="Enter email address" />
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2024 Jalan In All Rights reserved</p>
      </div>
    </footer>
  </body>
</html>
