<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jalan In - Information</title>
    <link rel="stylesheet" href="../styles/informasi.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="../image/logo.png" alt="Jalanin" />
        </div>
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="#/">Information</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
      <div class="hero">
        <h1>Destinasi Wisata</h1>
        <p>
          Temukan destinasi wisata terbaik di Indonesia dan nikmati pengalaman tak terlupakan bersama kami, kami menyediakan informasi lengkap untuk petualangan Anda.
        </p>
      </div>
    </header>
    <section class="introduction">
      <div id="destinations" class="destinations-slider">
        <!-- Tempat destinasi akan ditambahkan oleh JavaScript -->
      </div>
    </section>
    <footer>
      <div class="footer-content">
        <div class="footer-left">
          <h2>Jalan In</h2>
          <p>
            Jalanin adalah website yang menampilkan informasi destinasi wisata
            pilihan terbaik di Indonesia
          </p>
        </div>
        <div class="footer-links">
          <h2>Laman</h2>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="informasi.html">Information</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <h2>Social Media</h2>
          <ul>
            <li>
              <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                ><img src="../image/linkedin.png" alt="LinkedIn"
              /></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                ><img src="../image/linkedin.png" alt="LinkedIn"
              /></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/yoga111/" target="_blank"
                ><img src="../image/linkedin.png" alt="LinkedIn"
              /></a>
            </li>
          </ul>
          <form class="subscribe-form">
            <input type="email" placeholder="Enter email address" />
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2024 Jalan In All Rights reserved</p>
      </div>
    </footer>
    <!-- <script type="module" src="./data.js"></script> -->
    <script src="../scripts/informasi.js"></script>
  </body>
</html>
